.App {
  text-align: center;
}

.EightBall-btn {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  background-color: black;
  font-weight: bold;
}

.EightBall-reset-btn {
margin: 20px;
background-color: rgb(76, 143, 76);
border-radius: 10%;
color: white;
}
